[project]
name = "contact-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "flask>=3.1.2",
    "pandas>=2.3.3",
]

[dependency-groups]
dev = [
    "pandas-stubs>=2.3.2.250926",
]
