<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Contact.app</title>
    </head>
    <style>
        #contacts td,
        th {
            border: solid thin;
            padding: 0.5rem;
        }
        #contacts {
            text-align: center;
            border: solid thin;
            border-collapse: collapse;
        }
    </style>
    <body>
        <table id="contacts">
            <caption>
                <strong>List of Contacts</strong>
            </caption>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% include 'rows.html' %}
            </tbody>
        </table>
    </body>
</html>
